*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul::after, mater::after{
    content: "";
    clear: both;
    display: table;
  }
html{
    font-size: 14px;
}
img{
    width: 100%;
}
body{
    background: url("../img/back.webp") no-repeat center center black;
    background-attachment: fixed;
    background-size: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    color: orange;
    box-shadow: 5px 0 20px rgba(255,255,255,.2);
}
h1{
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}
.header_big{
    display: none;
}
.navigation{
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    background: black;
    text-align: center;
}
ul li{
    padding: 5px;
    border: 1px solid #232323;
    float: left;
    width: 24.99999%;
}
a:hover{
    color: white;
}
a{
    color: orange;
    text-decoration: none;
}
.contents{
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #ddd;
}
.content p{
    padding: 10px;
}
.content{
    margin-bottom: 20px;
}
@media (min-width:601px)
{
    .header_big{
        display: block;
    }
    .header_mobil{
        display: none;
    }
    .navigation{
        position: relative;
        width: 24.99999%;
        float: left;
    }
    ul li{
        border-left: none;
        border-right: none;
        float: left;
        width: 100%;
        padding: 20px;
    }
    .contents{
        font-size: 1.2rem;
        float: left;
        width: 74.99999%;
    }
    .content img{
        float: left;
        width: 50%;
        margin: 20px 10px 0 10px;
    }
}